# Mass Radius Relation 2
### Using our filtered dataset with removed duplicates and removed outliers (Samia's Code + Inara's Code), we will be look verifying the relationship between planet's mass and planet's radius (size) that was found fron the orignal Mass and Radius Relation Jupyter Notebook file

In [47]:
# Importing
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
# loading dataset
dataset = pd.read_csv('filtered_exoplanet_dataset_removed_outliers.csv')

In [49]:
dataset.columns

Index(['planet_name', 'host_star_name', 'orbital_period_day',
       'orbit_semi_major_axis_au', 'planet_rad_earth_rad',
       'planet_rad_jup_rad', 'planet_mass_earth_mass', 'planet_mass_jup_mass',
       'Eccentricity', 'planet_equil_temp_k', 'spectral_type',
       'stellar_effective_temp_k', 'stellar_rad_solar_rad',
       'stellar_mass_solar_mass', 'distance_parsec', 'stellar_surf_grav',
       'declination_deg', 'discovery_method'],
      dtype='object')

In [50]:
# deleting columns that are not needed
del dataset['host_star_name']
del dataset['orbital_period_day']
del dataset['orbit_semi_major_axis_au']
del dataset['planet_mass_jup_mass']
del dataset['Eccentricity']
del dataset['planet_equil_temp_k']
del dataset['spectral_type']
del dataset['stellar_effective_temp_k']
del dataset['stellar_rad_solar_rad']
del dataset['stellar_mass_solar_mass']
del dataset['distance_parsec']
del dataset['stellar_surf_grav']
del dataset['declination_deg']
del dataset['discovery_method']
del dataset['planet_rad_jup_rad']

In [51]:
dataset.head(10)

               planet_name  planet_rad_earth_rad  planet_mass_earth_mass
0                 11 Com b                   NaN             5505.066163
1                 11 UMi b                   NaN             3818.094733
2                 14 And b                   NaN             1224.550433
3                 14 Her b                   NaN             1642.383591
4               16 Cyg B b                   NaN              533.514528
5                 17 Sco b                   NaN             1373.018720
6                 18 Del b                   NaN             3109.015380
7  1RXS J160929.1-210524 b                18.647             3135.750000
8                 24 Boo b                   NaN              284.933890
9                 24 Sex b                   NaN              632.460000

In [52]:
# removing 5 exoplanets 
dataset = dataset[dataset.iloc[:,0] != 'NN Ser c']
dataset = dataset[dataset.iloc[:,0] != 'NN Ser d']
dataset = dataset[dataset.iloc[:,0] != 'CFBDSIR J145829+101343 b']
dataset = dataset[dataset.iloc[:,0] != 'WISE J033605.05-014350.4 b']
dataset = dataset[dataset.iloc[:,0] != 'WISEP J121756.91+162640.2 A b']

In [53]:
dataset.shape

(5625, 3)

### Verifying our mass and radius relation

In [54]:
# Earth like condtion 
earth_like_condition = (dataset['planet_rad_earth_rad'] <= 1.5) & (dataset['planet_mass_earth_mass'] >= 1) & (dataset['planet_mass_earth_mass'] < 2)

# Super-Earth-Like exoplanet classification
super_earth_like_condition = (dataset['planet_rad_earth_rad'] > 1.5) & (dataset['planet_rad_earth_rad'] <= 2) & (dataset['planet_mass_earth_mass'] >= 2) & (dataset['planet_mass_earth_mass'] < 8)

# neptune like exoplanet classification
neptune_like_condition = (dataset['planet_rad_earth_rad'] > 2) & (dataset['planet_rad_earth_rad'] <= 6) & (dataset['planet_mass_earth_mass'] >= 8) & (dataset['planet_mass_earth_mass'] < 20)

# super-neptune like exoplanet classification
super_neptune_like_condition = (dataset['planet_rad_earth_rad'] > 2) & (dataset['planet_rad_earth_rad'] <= 6) & (dataset['planet_mass_earth_mass'] >= 20) & (dataset['planet_mass_earth_mass'] < 80)

# saturn like exoplanet classification
saturn_like_condition = (dataset['planet_rad_earth_rad'] > 6) & (dataset['planet_rad_earth_rad'] <= 15) & (dataset['planet_mass_earth_mass'] >= 80) & (dataset['planet_mass_earth_mass'] <= 150)

# super-saturn Like exoplanet classification
super_saturn_like_condition = (dataset['planet_rad_earth_rad'] > 6) & (dataset['planet_rad_earth_rad'] <= 15) & (dataset['planet_mass_earth_mass'] > 150) & (dataset['planet_mass_earth_mass'] < 318)

# Jupiter-Like exoplanet classification
jupiter_like_condition = (dataset['planet_rad_earth_rad'] > 6) & (dataset['planet_rad_earth_rad'] <= 15) & (dataset['planet_mass_earth_mass'] >= 318) & (dataset['planet_mass_earth_mass'] <= 3180)

# Super-Jupiter-Like exoplanet classification
super_jupiter_like_condition = (dataset['planet_rad_earth_rad'] > 15) & (dataset['planet_mass_earth_mass'] > 3180)

# others exoplanet classification
others_condition = (dataset['planet_rad_earth_rad'] >= 0.4) & (dataset['planet_rad_earth_rad'] <= 78) & (dataset['planet_mass_earth_mass'] >= 80) & (dataset['planet_mass_earth_mass'] <= 3180)

In [55]:
# combine the different conditions
combined_conditions = earth_like_condition | super_earth_like_condition | neptune_like_condition | super_neptune_like_condition | saturn_like_condition | super_saturn_like_condition | jupiter_like_condition | super_jupiter_like_condition | others_condition

In [56]:
# remove the rows from the dataset that satisfy the condtiions
dataset[~combined_conditions]

     planet_name  planet_rad_earth_rad  planet_mass_earth_mass
0       11 Com b                   NaN             5505.066163
1       11 UMi b                   NaN             3818.094733
2       14 And b                   NaN             1224.550433
3       14 Her b                   NaN             1642.383591
4     16 Cyg B b                   NaN              533.514528
...          ...                   ...                     ...
5625   ups And b                   NaN              219.960419
5626   ups And c                   NaN             1275.328758
5627   ups And d                   NaN             1616.242590
5628   ups Leo b                   NaN              162.092490
5629    xi Aql b                   NaN              716.301647

[4613 rows x 3 columns]