# Mass Radius Relation 2
### Using our filtered dataset with removed duplicates and removed outliers (Samia's Code + Inara's Code), we will be look verifying the relationship between planet's mass and planet's radius (size) that was found fron the orignal Mass and Radius Relation Jupyter Notebook file

In [2]:
# Importing
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# loading dataset
dataset = pd.read_csv('filtered_exoplanet_dataset_removed_outliers.csv')

In [4]:
dataset.columns

Index(['planet_name', 'host_star_name', 'orbital_period_day',
       'orbit_semi_major_axis_au', 'planet_rad_earth_rad',
       'planet_rad_jup_rad', 'planet_mass_earth_mass', 'planet_mass_jup_mass',
       'Eccentricity', 'planet_equil_temp_k', 'spectral_type',
       'stellar_effective_temp_k', 'stellar_rad_solar_rad',
       'stellar_mass_solar_mass', 'distance_parsec', 'stellar_surf_grav',
       'declination_deg', 'discovery_method'],
      dtype='object')

In [5]:
# deleting columns that are not needed
del dataset['host_star_name']
del dataset['orbital_period_day']
del dataset['orbit_semi_major_axis_au']
del dataset['planet_mass_jup_mass']
del dataset['Eccentricity']
del dataset['planet_equil_temp_k']
del dataset['spectral_type']
del dataset['stellar_effective_temp_k']
del dataset['stellar_rad_solar_rad']
del dataset['stellar_mass_solar_mass']
del dataset['distance_parsec']
del dataset['stellar_surf_grav']
del dataset['declination_deg']
del dataset['discovery_method']
del dataset['planet_rad_jup_rad']

In [6]:
dataset.head(10)

               planet_name  planet_rad_earth_rad  planet_mass_earth_mass
0                 11 Com b                   NaN             5505.066163
1                 11 UMi b                   NaN             3818.094733
2                 14 And b                   NaN             1224.550433
3                 14 Her b                   NaN             1642.383591
4               16 Cyg B b                   NaN              533.514528
5                 17 Sco b                   NaN             1373.018720
6                 18 Del b                   NaN             3109.015380
7  1RXS J160929.1-210524 b                18.647             3135.750000
8                 24 Boo b                   NaN              284.933890
9                 24 Sex b                   NaN              632.460000

In [7]:
# removing 5 exoplanets 
dataset = dataset[dataset.iloc[:,0] != 'NN Ser c']
dataset = dataset[dataset.iloc[:,0] != 'NN Ser d']
dataset = dataset[dataset.iloc[:,0] != 'CFBDSIR J145829+101343 b']
dataset = dataset[dataset.iloc[:,0] != 'WISE J033605.05-014350.4 b']
dataset = dataset[dataset.iloc[:,0] != 'WISEP J121756.91+162640.2 A b']

In [8]:
dataset.shape

(5625, 3)

#### Verifying our mass and radius relation

In [9]:
# Earth like condtion 
earth_like_condition = (dataset['planet_rad_earth_rad'] <= 1.5) & (dataset['planet_mass_earth_mass'] >= 1) & (dataset['planet_mass_earth_mass'] < 2)

# Super-Earth-Like exoplanet classification
super_earth_like_condition = (dataset['planet_rad_earth_rad'] > 1.5) & (dataset['planet_rad_earth_rad'] <= 2) & (dataset['planet_mass_earth_mass'] >= 2) & (dataset['planet_mass_earth_mass'] < 8)

# neptune like exoplanet classification
neptune_like_condition = (dataset['planet_rad_earth_rad'] > 2) & (dataset['planet_rad_earth_rad'] <= 6) & (dataset['planet_mass_earth_mass'] >= 8) & (dataset['planet_mass_earth_mass'] < 20)

# super-neptune like exoplanet classification
super_neptune_like_condition = (dataset['planet_rad_earth_rad'] > 2) & (dataset['planet_rad_earth_rad'] <= 6) & (dataset['planet_mass_earth_mass'] >= 20) & (dataset['planet_mass_earth_mass'] < 80)

# saturn like exoplanet classification
saturn_like_condition = (dataset['planet_rad_earth_rad'] > 6) & (dataset['planet_rad_earth_rad'] <= 15) & (dataset['planet_mass_earth_mass'] >= 80) & (dataset['planet_mass_earth_mass'] <= 150)

# super-saturn Like exoplanet classification
super_saturn_like_condition = (dataset['planet_rad_earth_rad'] > 6) & (dataset['planet_rad_earth_rad'] <= 15) & (dataset['planet_mass_earth_mass'] > 150) & (dataset['planet_mass_earth_mass'] < 318)

# Jupiter-Like exoplanet classification
jupiter_like_condition = (dataset['planet_rad_earth_rad'] > 6) & (dataset['planet_rad_earth_rad'] <= 15) & (dataset['planet_mass_earth_mass'] >= 318) & (dataset['planet_mass_earth_mass'] <= 3180)

# Super-Jupiter-Like exoplanet classification
super_jupiter_like_condition = (dataset['planet_rad_earth_rad'] > 15) & (dataset['planet_mass_earth_mass'] > 3180)

# others exoplanet classification
others_condition = (dataset['planet_rad_earth_rad'] >= 0.4) & (dataset['planet_rad_earth_rad'] <= 78) & (dataset['planet_mass_earth_mass'] >= 80) & (dataset['planet_mass_earth_mass'] <= 3180)

In [10]:
dataset

     planet_name  planet_rad_earth_rad  planet_mass_earth_mass
0       11 Com b                   NaN             5505.066163
1       11 UMi b                   NaN             3818.094733
2       14 And b                   NaN             1224.550433
3       14 Her b                   NaN             1642.383591
4     16 Cyg B b                   NaN              533.514528
...          ...                   ...                     ...
5625   ups And b                   NaN              219.960419
5626   ups And c                   NaN             1275.328758
5627   ups And d                   NaN             1616.242590
5628   ups Leo b                   NaN              162.092490
5629    xi Aql b                   NaN              716.301647

[5625 rows x 3 columns]

In [11]:
# combine the different conditions
combined_conditions = earth_like_condition | super_earth_like_condition | neptune_like_condition | super_neptune_like_condition | saturn_like_condition | super_saturn_like_condition | jupiter_like_condition | super_jupiter_like_condition | others_condition

In [12]:
# remove the rows from the dataset that satisfy the condtiions
filtered_dataset = dataset[~combined_conditions]
filtered_dataset

     planet_name  planet_rad_earth_rad  planet_mass_earth_mass
0       11 Com b                   NaN             5505.066163
1       11 UMi b                   NaN             3818.094733
2       14 And b                   NaN             1224.550433
3       14 Her b                   NaN             1642.383591
4     16 Cyg B b                   NaN              533.514528
...          ...                   ...                     ...
5625   ups And b                   NaN              219.960419
5626   ups And c                   NaN             1275.328758
5627   ups And d                   NaN             1616.242590
5628   ups Leo b                   NaN              162.092490
5629    xi Aql b                   NaN              716.301647

[4613 rows x 3 columns]

#### Displaying results in an output file

In [13]:
#filtered_dataset.to_csv('mass_radius_relation2.csv', index=False)

#### Verifying these results in another output file

In [14]:
# printings the counts of each condition

earth_like_count = dataset[earth_like_condition].shape[0]
print(earth_like_count)

super_earth_like_count = dataset[super_earth_like_condition].shape[0]
print(super_earth_like_count)

neptune_like_count = dataset[neptune_like_condition].shape[0]
print(neptune_like_count)

super_neptune_like_count = dataset[super_neptune_like_condition].shape[0]
print(super_neptune_like_count)

saturn_like_count = dataset[saturn_like_condition].shape[0]
print(saturn_like_count)

super_saturn_like_count = dataset[super_saturn_like_condition].shape[0]
print(super_saturn_like_count)

jupiter_like_count = dataset[jupiter_like_condition].shape[0]
print(jupiter_like_count)

super_jupiter_like_count = dataset[super_jupiter_like_condition].shape[0]
print(super_jupiter_like_count)

others_count = dataset[others_condition].shape[0]
print(others_count)

17
55
165
100
70
151
217
12
663

In [15]:
# remove the rows from the dataset that satisfy the condtiions
filtered_dataset1 = dataset[~earth_like_condition]
print(filtered_dataset1.shape)

filtered_dataset2 = filtered_dataset1[~super_earth_like_condition]
print(filtered_dataset2.shape)

filtered_dataset3 = filtered_dataset2[~neptune_like_condition]
print(filtered_dataset3.shape)

filtered_dataset4 = filtered_dataset3[~super_neptune_like_condition]
print(filtered_dataset4.shape)

filtered_dataset5 = filtered_dataset4[~saturn_like_condition]
print(filtered_dataset5.shape)

filtered_dataset6 = filtered_dataset5[~super_saturn_like_condition]
print(filtered_dataset6.shape)

filtered_dataset7 = filtered_dataset6[~jupiter_like_condition]
print(filtered_dataset7.shape)

filtered_dataset8 = filtered_dataset7[~super_jupiter_like_condition]
print(filtered_dataset8.shape)

filtered_dataset9 = filtered_dataset8[~others_condition] #other_condtion is messing with computation, instead of removing 663 its only removing 225
print(filtered_dataset9.shape)

(5608, 3)
(5553, 3)
(5388, 3)
(5288, 3)
(5218, 3)
(5067, 3)
(4850, 3)
(4838, 3)
(4613, 3)

C:\Users\smahmood\AppData\Local\Temp\ipykernel_7640\753602243.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_dataset2 = filtered_dataset1[~super_earth_like_condition]
C:\Users\smahmood\AppData\Local\Temp\ipykernel_7640\753602243.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_dataset3 = filtered_dataset2[~neptune_like_condition]
C:\Users\smahmood\AppData\Local\Temp\ipykernel_7640\753602243.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_dataset4 = filtered_dataset3[~super_neptune_like_condition]
C:\Users\smahmood\AppData\Local\Temp\ipykernel_7640\753602243.py:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_dataset5 = filtered_dataset4[~saturn_like_condition]
C:\Users\smahmood\AppData\Local\Temp\ipykernel_7640\753602243.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_dataset6 = filtered_dataset5[~super_saturn_like_condition]
C:\Users\smahmood\AppData\Local\Temp\ipykernel_7640\753602243.py:20: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_dataset7 = filtered_dataset6[~jupiter_like_condition]
C:\Users\smahmood\AppData\Local\Temp\ipykernel_7640\753602243.py:23: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_dataset8 = filtered_dataset7[~super_jupiter_like_condition]
C:\Users\smahmood\AppData\Local\Temp\ipykernel_7640\753602243.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_dataset9 = filtered_dataset8[~others_condition] #other_condtion is messing with computation, instead of removing 663 its only removing 225

In [16]:
#filtered_dataset9.to_csv('verify_mass_radius_relation2.csv', index=False)

### Seeing if exoplanets were counted more than once

In [17]:
# Ensuring all panet classifications (Series) have the same length by filling with NaN

# max_length determines the maximum length between the different planet classifications (series)
max_length = max(earth_like_count, super_earth_like_count, neptune_like_count, super_neptune_like_count, saturn_like_count, super_saturn_like_count, jupiter_like_count, super_jupiter_like_count)
# creating the columns for the new dataframe
# .reindex extends the shorter dataframe to the maximum length, filling missing values with NaN.
column1 = dataset[earth_like_condition].reindex(range(max_length))
column2 = dataset[super_earth_like_condition].reindex(range(max_length))
column3 = dataset[neptune_like_condition].reindex(range(max_length))
column4 = dataset[super_neptune_like_condition].reindex(range(max_length))
column5 = dataset[saturn_like_condition].reindex(range(max_length))
column6 = dataset[super_saturn_like_condition].reindex(range(max_length))
column7 = dataset[jupiter_like_condition].reindex(range(max_length))
column8 = dataset[super_jupiter_like_condition].reindex(range(max_length))
column9 = dataset[others_condition].reindex(range(max_length))

In [18]:
# creating new dataframe based on our results
new_dataset = pd.DataFrame({
    'Earth Like': dataset[earth_like_condition]['planet_name'],
    'Super Earth Like': dataset[super_earth_like_condition]['planet_name'],
    'Neptune Like': dataset[neptune_like_condition]['planet_name'],
    'Super Neptune Like': dataset[super_neptune_like_condition]['planet_name'],
    'Saturn Like': dataset[saturn_like_condition]['planet_name'],
    'Super Saturn Like': dataset[super_saturn_like_condition]['planet_name'],
    'Jupiter Like': dataset[jupiter_like_condition]['planet_name'],
    'Super Jupiter Like': dataset[super_jupiter_like_condition]['planet_name'],
    'Others': dataset[others_condition]['planet_name'],
})

In [19]:
new_dataset

,Earth Like,Super Earth Like,Neptune Like,Super Neptune Like,Saturn Like,Super Saturn Like,Jupiter Like,Super Jupiter Like,Others
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1RXS J160929.1-210524 b
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2MASS J02192210-3925225 b,NaN
52,NaN,NaN,NaN,AU Mic b,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,AU Mic c,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,BD+20 594 b,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
5576,NaN,NaN,NaN,NaN,NaN,NaN,XO-4 b,NaN,XO-4 b
5577,NaN,NaN,NaN,NaN,NaN,NaN,XO-5 b,NaN,XO-5 b
5578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XO-6 b
5579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XO-7 b
5588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bet Pic b,NaN

In [20]:
#new_dataset.to_csv('verifying_results.csv', index=False)